.cart-list-container {
  display: flex;
  flex-direction: column;
}
.no-orders-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.no-order-heading {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
  text-align: center;
  color: #1e293b;
}
.no-orders-para {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #64748b;
}
.order-now-button {
  background: #f7931e;
  border-radius: 8px;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  color: #ffffff;
  padding: 10px;
  border: none;
}
.cart-hoe-line {
  border: 1px dashed #cbd2d9;
}
.order-total-main-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
}
.order-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.place-order-button {
  background: #f7931e;
  color: #ffffff;
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 100px;
  align-self: flex-end;
  font-weight: bold;
}
.order-text {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3e4c59;
}
.order-cost {
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: right;
  color: #3e4c59;
}
